body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: darkgreen;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: green;
}

p {
    font-size: 18px;
    margin-top: 20px;
    color: #000;
}